button{
    border: 2px solid black;
    background-color: black;
    color:white;
    padding:2px;
    margin: 4px;
    text-align:center;
    width:50%;
    border-radius: 50%;
    overflow: hidden;
}
button:hover{
    background-color:white;
    color:blue;
    cursor:pointer;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}
.first-col{
    width:40%;
}
.second-col{
    width:60%;
}
p{
     display: flex;
    text-align: center;
}
a{
    text-decoration: none;
}
 i {
    font-size: 50px;
    margin:10px;
}